.fp-watermark {
  display: none !important;
  position: absolute !important;
  left: -9999px !important;
  z-index: -99999999;
}

:root {
  --fs-default: 1.4rem;
  --fs-1: 6.8rem;
  --fs-2: 6.8rem;
  --fs-3: 4rem;
  --fs-4: 2.4rem;
  --fs-5: 2.2rem;
  --fs-6: 1.8rem;
  --fs-7: 1.6rem;
  --fs-8: 3.8rem;
  --gap: 1rem;
  --gap-: -1rem;
  --gap-fluid: 5rem;
  --gap-fluid-: -5rem;
}

@media (max-width: 1420px) {
  :root {
    --gap-fluid: 2rem;
    --gap-fluid-: -2rem;
  }
}
@media (max-width: 991px) {
  :root {
    --fs-1: 3.8rem;
    --fs-2: 3.8rem;
    --fs-3: 2.8rem;
    --fs-5: 1.8rem;
    --fs-7: 1.4rem;
    --gap: .8rem;
    --gap-: -.8rem;
    --gap-fluid: 1.6rem;
    --gap-fluid-: -1.6rem;
  }
}
@media (max-width: 767px) {
  :root {
    --fs-default: 1.1rem;
  }
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-SemiBold.woff2") format("woff2"), url("../fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraBold.woff2") format("woff2"), url("../fonts/Manrope-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Coolvetica Rg";
  src: url("../fonts/CoolveticaRg-Regular.woff2") format("woff2"), url("../fonts/CoolveticaRg-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bold;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 0.1rem dotted buttontext;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html,
body {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  background: #F8F5F0;
  font-style: normal;
  font-weight: normal;
  font-size: var(--fs-default);
  line-height: 1.42;
  font-family: "Manrope", Arial, sans-serif;
  color: #334435;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
@media (min-width: 1200px) {
  body.is-hidden {
    margin-right: 17px;
    overflow: hidden;
  }
}
body.page-landing::-webkit-scrollbar {
  display: none !important;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

input,
button,
select,
textarea {
  font-weight: normal;
  font-family: "Manrope", Arial, sans-serif;
}

input,
button {
  -webkit-appearance: none;
  appearance: none;
}

picture,
time,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title-size-1,
.title-size-2,
.title-size-3,
.title-size-4,
.title-size-5,
.title-size-6 {
  margin-top: 0;
  font-weight: normal;
  font-family: "Coolvetica Rg", Arial, sans-serif;
  line-height: 0.98;
}

h1,
.title-size-1 {
  font-size: var(--fs-1);
}

h2,
.title-size-2 {
  font-size: var(--fs-2);
}

h3,
.title-size-3 {
  font-size: var(--fs-3);
  line-height: 1.04;
}

h4,
.title-size-4 {
  font-size: var(--fs-4);
  line-height: 1.04;
}

h5,
.title-size-5 {
  font-size: var(--fs-5);
  line-height: 1.04;
}

h6,
.title-size-6 {
  font-size: var(--fs-6);
  line-height: 1.04;
}

p {
  margin-top: 0;
}

strong,
b {
  font-weight: bold;
}

.row {
  margin: 0 var(--gap-);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.row__col {
  max-width: 100%;
  min-height: 1px;
  padding: 0 var(--gap);
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.row__col--3 {
  max-width: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}
.row__col--4 {
  max-width: 33.333333%;
  -ms-flex-preferred-size: 33.333333%;
  flex-basis: 33.333333%;
}
.row__col--5 {
  max-width: 41.6666666667%;
  -ms-flex-preferred-size: 41.6666666667%;
  flex-basis: 41.6666666667%;
}
.row__col--6 {
  max-width: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}
.row__col--7 {
  max-width: 58.3333333333%;
  -ms-flex-preferred-size: 58.3333333333%;
  flex-basis: 58.3333333333%;
}
.row__col--8 {
  max-width: 66.666666666%;
  -ms-flex-preferred-size: 66.666666666%;
  flex-basis: 66.666666666%;
}
.row__col--12 {
  max-width: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

#root {
  position: relative;
  overflow: clip;
}

.section .fp-overflow {
  width: 100% !important;
}

.container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 var(--gap-fluid);
  overflow: hidden;
}

.container-fluid {
  width: 100%;
  margin: 0;
  padding: 0 var(--gap-fluid);
}

svg,
.u-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  color: inherit;
  fill: currentColor;
}

.img-cover {
  display: block;
  position: relative;
  overflow: hidden;
}
.img-cover img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.img-contain {
  display: block;
  position: relative;
  overflow: hidden;
}
.img-contain img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
}

.area-click, .logo, .btn-simple {
  --indent: -.5rem;
  position: relative;
}
.area-click:before, .logo:before, .btn-simple:before {
  content: "";
  position: absolute;
  top: var(--indent);
  right: var(--indent);
  bottom: var(--indent);
  left: var(--indent);
}

.link-cover:before, .course-card__link:before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

.btn-reset, .header-account__btn-close, .btn-simple {
  background: transparent;
  margin: 0;
  padding: 0;
  font-size: 0;
  outline: none;
  border: none;
  border-radius: 0;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}

.font-family-accent {
  font-family: "Coolvetica Rg", Arial, sans-serif;
}

.color-gray-1 {
  color: var(--color-gray-1);
}

.content {
  line-height: 1.4;
}
.content > :first-child {
  margin-top: 0;
}
.content > :last-child {
  margin-bottom: 0;
}
.content p {
  margin: 0 0 1em;
}

.btn {
  max-width: 100%;
  min-height: var(--btn-height);
  padding: var(--btn-padding-y) var(--btn-padding-x);
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-style: normal;
  font-weight: 800;
  font-size: inherit;
  font-size: var(--btn-font-size);
  font-family: "Manrope", Arial, sans-serif;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.24s;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
}
.btn:hover {
  text-decoration: none;
}
.btn.disabled, .btn:disabled {
  background: #ccc;
  color: #000;
  opacity: 0.6;
  pointer-events: none;
}
.btn--theme-accent-outline {
  background: transparent;
  color: #3C4E3E;
  border: 2px solid #2C392D;
  border-radius: 1rem;
}
@media (min-width: 1200px) {
  .btn--theme-accent-outline:hover {
    background: #3C4E3E;
    color: #F8F5F0;
  }
}
.btn--theme-accent-outline.is-active, .btn--theme-accent-outline:focus, .btn--theme-accent-outline:active {
  background: #D2D3BB;
  color: #2C392D;
}
.btn--theme-accent-outline-fill {
  background: #D2D3BB;
  color: #2C392D;
  border: 2px solid #2C392D;
  border-radius: 1rem;
}
@media (min-width: 1200px) {
  .btn--theme-accent-outline-fill:hover {
    background: #2C392D;
    color: #F8F5F0;
  }
}
.btn--theme-accent-outline-fill.is-active, .btn--theme-accent-outline-fill:focus, .btn--theme-accent-outline-fill:active {
  background: #2C392D;
  color: #F8F5F0;
}
.btn--theme-accent-outline-fill.disabled, .btn--theme-accent-outline-fill:disabled {
  background: #ECEDDF;
  color: #B3BFA6;
  border-color: #B3BFA6;
  opacity: 1;
  pointer-events: none;
}
.btn--theme-accent-fill {
  background: #2C392D;
  color: #F8F5F0;
  border-radius: 1rem;
}
@media (min-width: 1200px) {
  .btn--theme-accent-fill:hover {
    background: #3C4E3E;
  }
}
.btn--theme-accent-fill.is-active, .btn--theme-accent-fill:focus, .btn--theme-accent-fill:active {
  background: #3C4E3E;
}
.btn--theme-white-outline {
  background: #2C392D;
  color: #ECEDDF;
  border: 2px solid #ECEDDF;
  border-radius: 1rem;
}
@media (min-width: 1200px) {
  .btn--theme-white-outline:hover {
    background: #3C4E3E;
  }
}
.btn--theme-white-outline.is-active, .btn--theme-white-outline:focus, .btn--theme-white-outline:active {
  background: #3C4E3E;
}
.btn--size-xs {
  --btn-height: 4.4rem;
  --btn-padding-x: 0;
  --btn-padding-y: 0;
  --btn-font-size: 0;
}
.btn--size-sm {
  --btn-height: 4.8rem;
  --btn-padding-x: 2.2rem;
  --btn-padding-y: 1.2rem;
  --btn-font-size: var(--fs-7);
}
@media (max-width: 991px) {
  .btn--size-sm {
    --btn-padding-x: 1.2rem;
  }
}
.btn--size-md {
  --btn-height: 5.6rem;
  --btn-padding-x: 3rem;
  --btn-padding-y: 1.7rem;
  --btn-font-size: var(--fs-7);
}
.btn--type-action {
  width: var(--btn-height);
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.btn--width-100 {
  width: 100%;
}
.btn__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.btn__icon {
  width: 2.8rem;
  height: 2.8rem;
  margin-top: -1rem;
  margin-bottom: -1rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
@media (max-width: 1199px) {
  .btn__icon {
    width: 2.4rem;
    height: 2.4rem;
  }
}
.btn__icon--dir-r {
  margin-right: 1.2rem;
}

.btn-simple {
  width: 100%;
  padding: 1rem;
  display: block;
  font-weight: 500;
  font-size: var(--fs-default);
  color: #2C392D;
  text-align: center;
  transition: all 0.4s;
  cursor: pointer;
}
.btn-simple:hover {
  text-decoration: none;
}
@media (min-width: 1200px) {
  .btn-simple:hover {
    opacity: 0.6;
  }
}

.logo {
  display: inline-block;
  font-weight: normal;
  font-size: var(--fs-5);
  font-family: "Coolvetica Rg", Arial, sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
  transition: all 0.34s;
  transition-property: opacity;
  cursor: pointer;
}
.logo:hover {
  text-decoration: none;
}
@media (min-width: 1200px) {
  .logo:hover {
    opacity: 0.6;
  }
}

.u-input {
  width: 100%;
  min-height: var(--input-height);
  padding: var(--input-padding-y) var(--input-padding-x);
  display: block;
  font-weight: 500;
  font-size: var(--input-font-size);
  line-height: 1.35;
  border: none;
  border-radius: 0;
  outline: none;
  position: relative;
  transition: all 0.28s;
}
.u-input:hover {
  text-decoration: none;
}
.u-input--icon-left {
  padding-left: 2.8rem;
}
@media (max-width: 991px) {
  .u-input--icon-left {
    padding-left: 2.6rem;
  }
}
.u-input--theme-dark-light {
  background: transparent;
  color: #2C392D;
  border: solid rgba(44, 57, 45, 0.5);
  border-width: 0 0 2px;
}
@media (min-width: 1200px) {
  .u-input--theme-dark-light:hover {
    border-color: #334435 !important;
    box-shadow: 0 1.4rem 1.2rem -1.2rem rgba(60, 78, 62, 0.3);
  }
}
.u-input--theme-dark-light:focus {
  border-color: #334435 !important;
  box-shadow: 0 1.4rem 1.2rem -1.2rem rgba(60, 78, 62, 0.6) !important;
}
.u-input--theme-dark-light::-webkit-input-placeholder {
  color: #6A7267;
}
.u-input--theme-dark-light:-ms-input-placeholder {
  color: #6A7267;
}
.u-input--theme-dark-light::-ms-input-placeholder {
  color: #6A7267;
}
.u-input--theme-dark-light::placeholder {
  color: #6A7267;
}
.u-input--theme + .icon {
  color: #6A7267;
}
.u-input--size-md {
  --input-height: 5rem;
  --input-padding-y: 1rem;
  --input-padding-x: 0;
  --input-font-size: var(--fs-7);
  font-weight: 500;
}
@media (max-width: 991px) {
  .u-input--size-md {
    --input-height: 4.4rem;
    --input-padding-y: .8rem;
    --input-font-size: 1.4rem;
  }
}
.u-input[type=date]::-webkit-inner-spin-button, .u-input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  appearance: none;
}
.u-input[type=date]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.u-input-code {
  background: transparent;
  width: 100%;
  padding: 1.4rem 0;
  display: block;
  font-weight: normal;
  font-size: 10rem;
  line-height: 1.35;
  font-family: "Coolvetica Rg", Arial, sans-serif;
  color: #2C392D;
  text-align: center;
  border: solid rgba(106, 114, 103, 0.5);
  border-width: 0 0 2px;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  position: relative;
  transition: all 0.28s;
}
@media (max-width: 1199px) {
  .u-input-code {
    padding: 0 0.6rem;
    font-size: 5rem;
  }
}
.u-input-code::-webkit-outer-spin-button, .u-input-code::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}
.u-input-code[type=number] {
  -moz-appearance: textfield;
}
.u-input-code:hover {
  text-decoration: none;
}
@media (min-width: 1200px) {
  .u-input-code:hover {
    border-color: #334435 !important;
    box-shadow: 0 1.4rem 1.2rem -1.2rem rgba(60, 78, 62, 0.3);
  }
}
.u-input-code:focus {
  border-color: #334435 !important;
  box-shadow: 0 1.4rem 1.2rem -1.2rem rgba(60, 78, 62, 0.6) !important;
}

.l-input-area__label {
  margin: 0 0 0.2rem;
  display: block;
  font-weight: 500;
}
@media (max-width: 991px) {
  .l-input-area__label {
    font-size: 1.2rem;
  }
}
.l-input-area__input-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.l-input-area__input {
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.l-input-area__input:not(:focus).is-input-error {
  color: #D43B31;
  border-color: rgba(212, 59, 49, 0.5);
}
.l-input-area__input-icon {
  width: 1.8rem;
  height: 1.8rem;
  margin: 0 -1.8rem 2px 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: #6A7267;
  transition: all 0.4s;
  pointer-events: none;
  -ms-flex-order: -1;
  order: -1;
}
@media (max-width: 991px) {
  .l-input-area__input-icon {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: -1.6rem;
  }
}
.l-input-area__input:not(:focus).is-input-error ~ .l-input-area__input-icon {
  color: #D43B31;
}
.l-input-area__error {
  margin: 0.3rem 0 0;
  font-weight: 500;
  font-size: 1.2rem;
  color: #D43B31;
  text-align: right;
}
@media (max-width: 767px) {
  .l-input-area__error {
    font-size: 1.1rem;
  }
}
.l-input-area__input-code-wrapper {
  margin-top: -2.8rem;
  display: -ms-flexbox;
  display: flex;
}
.l-input-area__input-code {
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.l-input-area__input-code:not(:last-child) {
  margin-right: 2.4rem;
}
.l-input-area__appeal {
  margin: 0.3rem 0 0;
  font-weight: 500;
  font-size: 1.2rem;
  color: #D43B31;
  text-align: right;
}
@media (max-width: 767px) {
  .l-input-area__appeal {
    font-size: 1.1rem;
  }
}
.l-input-area__appeal a {
  box-shadow: 0 1px 0 rgba(212, 59, 49, 0.3);
  transition: all 0.4s;
}
.l-input-area__appeal a:hover {
  text-decoration: none;
}
@media (min-width: 1200px) {
  .l-input-area__appeal a:hover {
    box-shadow: 0 1px 0 #d43b31;
  }
}

.sc-block__list {
  margin: -0.7rem;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}
@media (max-width: 767px) {
  .sc-block__list {
    margin: -0.9rem;
  }
}
.sc-block__item {
  margin: 0.7rem;
  padding: 0;
}
@media (max-width: 767px) {
  .sc-block__item {
    margin: 0.9rem;
  }
}
.sc-block__link {
  background: #F8F5F0;
  width: 4rem;
  height: 4rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  color: #2C392D;
  border-radius: 50%;
  transition: all 0.4s;
}
@media (max-width: 767px) {
  .sc-block__link {
    width: 4.8rem;
    height: 4.8rem;
  }
}
.sc-block__link:hover {
  text-decoration: none;
}
@media (min-width: 1200px) {
  .sc-block__link:hover {
    background: #2C392D;
    color: #F8F5F0;
  }
}
.sc-block__icon {
  width: 2rem;
  height: 2rem;
  display: block;
}

.services-card {
  background: #F8F5F0;
  padding: 3rem;
  border-radius: 2rem;
}
@media (max-width: 1199px) {
  .services-card {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
.services-card__counter {
  margin: -2.4rem 0 4.8rem;
  font-weight: normal;
  font-size: 16rem;
  line-height: 1;
  font-family: "Coolvetica Rg", Arial, sans-serif;
}
@media (min-width: 1200px) {
  .services-card__counter {
    margin-top: -2.2rem;
    margin-bottom: 2.4vh;
  }
}
@media (max-height: 940px) {
  .services-card__counter {
    margin-bottom: 1.4rem;
    font-size: 14rem;
  }
}
@media (max-width: 1420px) {
  .services-card__counter {
    margin-top: -1rem;
    font-size: 12rem;
  }
}
.services-card__counter:after {
  content: counter(services-card-counter);
  display: block;
  font: inherit;
}
.services-card__title {
  max-width: 50rem;
  min-height: 2.08em;
  margin: 0 0 2.2rem;
  line-height: 1.04;
  text-transform: uppercase;
}
@media (max-width: 1420px) {
  .services-card__title {
    margin-bottom: 2rem;
    font-size: 2.8rem;
  }
}
@media (max-width: 1199px) {
  .services-card__title {
    min-height: 0;
  }
}
.services-card__description {
  margin: 0 2.6rem 0 0;
  font-weight: 500;
  font-size: var(--fs-5);
  color: rgba(44, 57, 45, 0.7);
}
@media (max-width: 1420px) {
  .services-card__description {
    font-size: 1.8rem;
  }
}

.u-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.u-list li {
  min-height: 2.4rem;
  margin: 0;
  padding: 0 0 0 3.4rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  font-size: var(--fs-5);
  line-height: 1.08;
  position: relative;
}
@media (max-width: 991px) {
  .u-list li {
    min-height: 2rem;
    padding-left: 2.6rem;
  }
}
.u-list li:not(:last-child) {
  margin-bottom: 2rem;
}
@media (max-width: 991px) {
  .u-list li:not(:last-child) {
    margin-bottom: 1.8rem;
  }
}
.u-list li:before {
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.7412 2.44C11.4312 1.85 12.5612 1.85 13.2612 2.44L14.8412 3.8C15.1412 4.06 15.7012 4.27 16.1012 4.27H17.8012C18.8612 4.27 19.7312 5.14 19.7312 6.2V7.9C19.7312 8.29 19.9412 8.86 20.2012 9.16L21.5612 10.74C22.1512 11.43 22.1512 12.56 21.5612 13.26L20.2012 14.84C19.9412 15.14 19.7312 15.7 19.7312 16.1V17.8C19.7312 18.86 18.8612 19.73 17.8012 19.73H16.1012C15.7112 19.73 15.1412 19.94 14.8412 20.2L13.2612 21.56C12.5712 22.15 11.4412 22.15 10.7412 21.56L9.16125 20.2C8.86125 19.94 8.30125 19.73 7.90125 19.73H6.17125C5.11125 19.73 4.24125 18.86 4.24125 17.8V16.09C4.24125 15.7 4.03125 15.14 3.78125 14.84L2.43125 13.25C1.85125 12.56 1.85125 11.44 2.43125 10.75L3.78125 9.16C4.03125 8.86 4.24125 8.3 4.24125 7.91V6.19C4.24125 5.13 5.11125 4.26 6.17125 4.26H7.90125C8.29125 4.26 8.86125 4.05 9.16125 3.79L10.7412 2.44Z' fill='%232C392D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.7753 3.0113C12.3522 2.65715 11.6352 2.66241 11.2287 3.01002L9.65022 4.35869C9.41168 4.56476 9.10759 4.72098 8.82624 4.82553C8.5441 4.93037 8.21279 5.01 7.90125 5.01H6.17125C5.52546 5.01 4.99125 5.54421 4.99125 6.19V7.91C4.99125 8.22204 4.91137 8.55083 4.80836 8.82911C4.70497 9.10842 4.55275 9.40573 4.35742 9.64014L4.35299 9.64544L3.00536 11.2326C3.00502 11.233 3.00467 11.2334 3.00432 11.2338C2.66023 11.6446 2.66023 12.3554 3.00432 12.7662C3.00467 12.7666 3.00502 12.767 3.00536 12.7674L4.35744 14.3598C4.55278 14.5942 4.70497 14.8916 4.80836 15.1709C4.91137 15.4492 4.99125 15.778 4.99125 16.09V17.8C4.99125 18.4458 5.52546 18.98 6.17125 18.98H7.90125C8.21678 18.98 8.54806 19.0591 8.83125 19.1649C9.11387 19.2705 9.41438 19.4273 9.65117 19.6321C9.6516 19.6325 9.65202 19.6329 9.65245 19.6332L11.2272 20.9887C11.65 21.3425 12.3661 21.3376 12.7728 20.9909C12.7731 20.9906 12.7735 20.9903 12.7738 20.99L14.3501 19.6332C14.3505 19.6328 14.351 19.6324 14.3514 19.632C14.5901 19.4256 14.8946 19.2691 15.1763 19.1645C15.4584 19.0596 15.7897 18.98 16.1013 18.98H17.8012C18.447 18.98 18.9813 18.4458 18.9813 17.8V16.1C18.9813 15.7845 19.0604 15.4532 19.1662 15.17C19.2718 14.8874 19.4285 14.5869 19.6333 14.3502C19.6337 14.3497 19.6341 14.3493 19.6345 14.3488L20.99 12.774C21.3438 12.3513 21.3388 11.6352 20.9921 11.2285C20.9918 11.2281 20.9915 11.2278 20.9912 11.2274L19.6345 9.6512C19.6341 9.65077 19.6337 9.65034 19.6334 9.64991C19.4269 9.41123 19.2704 9.10671 19.1657 8.82498C19.0609 8.54285 18.9813 8.21154 18.9813 7.9V6.2C18.9813 5.55421 18.447 5.02 17.8012 5.02H16.1013C15.7857 5.02 15.4544 4.94087 15.1713 4.83506C14.8886 4.72945 14.5881 4.57268 14.3513 4.36781C14.3509 4.36746 14.3505 4.36711 14.3501 4.36676L12.7753 3.0113ZM10.254 1.86979C11.2267 1.0383 12.7674 1.04292 13.7446 1.86653L13.7506 1.87154L15.3325 3.23323C15.3955 3.28785 15.5244 3.36572 15.6962 3.42993C15.8681 3.49413 16.0168 3.52 16.1013 3.52H17.8012C19.2755 3.52 20.4813 4.72578 20.4813 6.2V7.9C20.4813 7.97845 20.5066 8.12715 20.5718 8.30251C20.6369 8.47778 20.715 8.60767 20.768 8.6688L20.7697 8.67072L22.1313 10.2526C22.963 11.2252 22.9584 12.7661 22.1347 13.7434L22.1297 13.7493L20.7697 15.3293L20.768 15.3312C20.7134 15.3942 20.6355 15.5231 20.5713 15.695C20.5071 15.8668 20.4813 16.0155 20.4813 16.1V17.8C20.4813 19.2742 19.2755 20.48 17.8012 20.48H16.1013C16.0228 20.48 15.8741 20.5054 15.6987 20.5705C15.5235 20.6357 15.3936 20.7138 15.3324 20.7668L15.3305 20.7684L13.7505 22.1284L13.7487 22.13C12.776 22.9617 11.2351 22.9571 10.2579 22.1335L10.2519 22.1285L8.67197 20.7684L8.67005 20.7668C8.60703 20.7121 8.47812 20.6343 8.30625 20.5701C8.13444 20.5059 7.98572 20.48 7.90125 20.48H6.17125C4.69704 20.48 3.49125 19.2742 3.49125 17.8V16.09C3.49125 16.012 3.46613 15.8658 3.40164 15.6916C3.33819 15.5202 3.26133 15.3884 3.20676 15.3222L1.85713 13.7326C1.04261 12.7636 1.04262 11.2364 1.85714 10.2674L1.85952 10.2646L3.20676 8.67784C3.26133 8.61156 3.33818 8.47982 3.40164 8.30839C3.46613 8.13417 3.49125 7.98796 3.49125 7.91V6.19C3.49125 4.71578 4.69704 3.51 6.17125 3.51H7.90125C7.9797 3.51 8.1284 3.48463 8.30376 3.41946C8.47903 3.35434 8.60892 3.27621 8.67005 3.22323L8.67404 3.21978L10.254 1.86979C10.2541 1.86973 10.254 1.86985 10.254 1.86979Z' fill='%232C392D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.141 9.03693C16.4342 9.32952 16.4347 9.8044 16.1421 10.0976L11.3121 14.9376C11.1713 15.0787 10.9802 15.1579 10.7809 15.1578C10.5815 15.1577 10.3905 15.0783 10.2498 14.937L7.83982 12.517C7.54753 12.2235 7.54852 11.7487 7.84202 11.4564C8.13551 11.1641 8.61039 11.1651 8.90267 11.4586L10.7818 13.3455L15.0804 9.03803C15.373 8.74483 15.8478 8.74434 16.141 9.03693Z' fill='%23F8F5F0'/%3E%3C/svg%3E%0A") 50% no-repeat;
  background-size: contain;
  width: 2.4rem;
  height: 2.4rem;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 991px) {
  .u-list li:before {
    width: 2rem;
    height: 2rem;
  }
}

.course-card {
  font-size: var(--fs-6);
  color: #485447;
}
@media (max-width: 991px) {
  .course-card {
    font-size: 1.4rem;
  }
}
.course-card__inner {
  padding: 1.8rem 2.4rem;
  border: 2px solid #2C392D;
  border-radius: 1rem;
  position: relative;
}
.course-card__header {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  font-weight: 500;
  line-height: 1.04;
  border-bottom: 1px solid rgba(44, 57, 45, 0.2);
}
.course-card__body {
  display: -ms-flexbox;
  display: flex;
}
.course-card__picture {
  width: 10.2rem;
  height: 10.2rem;
  margin: 0 4rem -1.8rem 1rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
@media (max-width: 991px) {
  .course-card__picture {
    width: 5.8rem;
    height: 5.8rem;
    margin-right: 1.2rem;
  }
}
.course-card__picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center bottom;
}
.course-card__content {
  padding-top: 1.2rem;
}
@media (max-width: 991px) {
  .course-card__content {
    padding-top: 0;
  }
}
.course-card__title {
  margin: 0 0 0.8rem;
  font-weight: normal;
  font-family: "Coolvetica Rg", Arial, sans-serif;
  color: #2C392D;
}
.course-card__link {
  transition: all 0.4s;
}
.course-card__link:hover {
  text-decoration: none;
}
@media (min-width: 1200px) {
  .course-card__link:hover {
    opacity: 0.6;
  }
}
.course-card__status {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
  font-size: var(--fs-default);
}
.course-card__status:before {
  background: currentColor;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.7rem;
  content: "";
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 50%;
}
.course-card__status--hold {
  color: #D7863B;
}
.course-card__status--active {
  color: #4E8F52;
}
.course-card__status--completed {
  color: #D43B31;
}

.header-account {
  width: 100%;
  padding: 2.4rem 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
@media (max-width: 991px) {
  .header-account {
    padding: 1.6rem 0;
  }
}
.header-account__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1199px) {
  .header-account__logo {
    display: none;
  }
}
.header-account__btn-close {
  margin-left: auto;
  padding: 1.2rem;
  color: #2C392D;
  border: 2px solid currentColor;
  border-radius: 1rem;
  transition: all 0.34s;
}
@media (min-width: 1200px) {
  .header-account__btn-close:hover {
    background: #2C392D;
    color: #fff;
    border-color: #2C392D;
  }
}
.header-account__btn-close .icon {
  width: 2rem;
  height: 2rem;
  display: block;
}
@media (max-width: 1199px) {
  .header-account__btn-close .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.header-account__links {
  margin-left: auto;
  padding-right: var(--gap-fluid);
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1899px) {
  .header-account__links {
    padding-right: 0;
  }
}
.header-account__link {
  background: #F8F5F0;
  padding-right: 3.2rem;
  padding-left: 3.2rem;
}
.header-account__link + .header-account__link {
  margin-left: 1.2rem;
}
.header-account__link:last-child {
  padding-right: 2.7rem;
  padding-left: 2.7rem;
}
.header-account__nav {
  margin-right: auto;
  -ms-flex-item-align: start;
  align-self: flex-start;
  position: relative;
}
.header-account__nav-dropdown {
  background: #F8F5F0;
  min-width: 16.4rem;
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 0.98;
  list-style-type: none;
  color: #3C4E3E;
  border: 2px solid #2C392D;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}
.header-account__nav-dropdown li {
  height: 4rem;
  margin: 0;
  padding: 0 1.3rem;
  display: none;
  -ms-flex-align: center;
  align-items: center;
}
.header-account__nav-dropdown li.is-active {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  pointer-events: none;
  -ms-flex-order: -1;
  order: -1;
}
.header-account__nav-dropdown li.is-active:after {
  background: url(../images/icon/arrow-type-2.svg) 50% no-repeat;
  background-size: contain;
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 1rem;
  content: "";
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  transition: all 0.4s;
}
.header-account__nav-dropdown a {
  display: block;
}
.header-account__nav-dropdown a:hover {
  text-decoration: none;
}
.header-account__nav.is-show li {
  display: -ms-flexbox;
  display: flex;
}
.header-account__nav.is-show li.is-active:after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.page-account--theme-dark .header-account__logo {
  color: #F8F5F0;
}

.l-account {
  color: #2C392D;
}
.l-account__header {
  position: absolute;
}
@media (max-width: 767px) {
  .l-form-account__col-line.row__col--6 {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}
.l-form-account__col-line:not(:last-child) {
  margin-bottom: 4rem;
}
@media (max-width: 991px) {
  .l-form-account__col-line:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}
@media (max-width: 991px) {
  .l-form-account__col-line:last-child {
    margin-top: 2.8rem;
  }
}
@media (max-width: 991px) {
  .l-form-account__btn {
    --btn-padding-y: 1.4rem;
    min-height: 4.8rem;
  }
}
@media (max-width: 991px) {
  .l-form-account__btn-moore {
    --btn-padding-y: 1.4rem;
    min-height: 4.8rem;
  }
}
.l-form-account__btn-moore + .l-form-account__btn-moore {
  margin-top: 1.2rem;
}
.l-form-account__footer {
  padding-top: 0.6rem;
  text-align: center;
}
@media (max-width: 1199px) {
  .l-form-account__footer {
    padding-top: 0.1rem;
    font-size: 1.2rem;
  }
}

.l-account-main {
  overflow: hidden;
}
.l-account-main__row {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
@media (max-width: 1199px) {
  .l-account-main__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.l-account-main__col {
  --account-main-p-t: 16rem;
  --account-main-p-b: 5rem;
}
@media (max-width: 1199px) {
  .l-account-main__col {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}
.l-account-main__col-aside {
  min-height: 100vh;
  padding-bottom: var(--account-main-p-b);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
}
@media (max-width: 1199px) {
  .l-account-main__col-aside {
    min-height: 0;
    padding-bottom: 0;
  }
}
.l-account-main__col-aside:before {
  background: #ECEDDF;
  width: 100vw;
  content: "";
  position: absolute;
  top: 0;
  right: var(--gap);
  bottom: 0;
  z-index: -1;
}
@media (max-width: 1199px) {
  .l-account-main__col-aside:before {
    display: none;
  }
}
.l-account-main__col-main {
  max-width: 53.6rem;
  margin-left: 3.1rem;
  padding-top: var(--account-main-p-t);
  padding-bottom: var(--account-main-p-b);
  -ms-flex: 0 0 53.6rem;
  flex: 0 0 53.6rem;
}
@media (max-width: 1199px) {
  .l-account-main__col-main {
    max-width: 100%;
    margin-left: 0;
    padding-top: 5.6rem;
    padding-bottom: 4rem;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}
.l-account-main__col-user {
  max-width: 58.1rem;
  margin: 0 var(--gap-fluid) 0 8rem;
  padding-top: var(--account-main-p-t);
  padding-bottom: var(--account-main-p-b);
  -ms-flex: 0 0 58.1rem;
  flex: 0 0 58.1rem;
}
.l-account-main__hero {
  position: relative;
}
.l-account-main__hero-center {
  width: 83.6%;
  max-width: 83.6rem;
  margin: 0 auto;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
@media (max-width: 1899px) {
  .l-account-main__hero-center {
    left: calc(var(--gap-fluid) / -2);
  }
}
@media (max-width: 1199px) {
  .l-account-main__hero-center {
    width: 62.6%;
    left: 0;
  }
}
.l-account-main__hero-coin {
  background: url(../images/icon/coin.svg) 50% no-repeat;
  background-size: contain;
  width: 5.2rem;
  height: 5.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
}
.l-account-main__picture {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.l-account-main__picture img {
  width: 100%;
  height: auto;
  max-height: calc(100vh - 6rem);
  display: block;
  object-fit: contain;
  object-position: right top;
}
@media (max-width: 1899px) {
  .l-account-main__picture img {
    margin-right: auto;
  }
}
@media (max-width: 1199px) {
  .l-account-main__picture img {
    max-height: 99rem;
  }
}
.l-account-main__nav-wrap {
  max-width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}
.l-account-main__nav {
  max-width: 100%;
  margin: 0 0 10rem;
  font-family: "Coolvetica Rg", Arial, sans-serif;
}
.l-account-main__nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.l-account-main__nav li {
  margin: 0;
  padding: 0;
}
.l-account-main__nav li + .l-account-main__nav li {
  margin-top: 3.6rem;
}
.l-account-main__nav a {
  font-size: var(--fs-3);
  display: block;
  transition: all 0.34s;
}
.l-account-main__nav a:hover {
  text-decoration: none;
}
@media (min-width: 1200px) {
  .l-account-main__nav a:hover {
    opacity: 1 !important;
  }
}
.l-account-main__nav a:not(.is-active) {
  opacity: 0.5;
}
.l-account-main__aside-btn {
  width: 100%;
}
@media (max-width: 1899px) {
  .l-account-main__aside-btn {
    width: calc(100% - var(--gap-fluid));
    margin-top: 5.6rem;
  }
}
@media (max-width: 1199px) {
  .l-account-main__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.l-account-main__title {
  margin: 0 0 2.4rem;
  font-size: var(--fs-8);
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .l-account-main__title {
    margin-bottom: 1.6rem;
    font-size: 2.8rem;
  }
}
.l-account-main__text {
  margin: 0 0 5.6rem;
  font-weight: 500;
  font-size: var(--fs-6);
  color: rgba(44, 57, 45, 0.7);
}
@media (max-width: 991px) {
  .l-account-main__text {
    margin-bottom: 3.6rem;
    font-size: 1.6rem;
  }
}
.l-account-main__text a {
  color: #2C392D;
  transition: all 0.34s;
}
.l-account-main__text a:hover {
  text-decoration: none;
}
@media (min-width: 1200px) {
  .l-account-main__text a:hover {
    color: #6A7267;
  }
}
.l-account-main__code-picture {
  width: 100%;
  max-width: 11.8rem;
  margin: 0 auto 5.6rem;
}
@media (max-width: 1199px) {
  .l-account-main__code-picture {
    max-width: 12.4rem;
    margin-top: 7rem;
    -ms-flex-order: -1;
    order: -1;
  }
}
.l-account-main__code-picture img {
  width: 100%;
  height: auto;
  display: block;
}
.l-account-main__course-list {
  max-height: 100vh;
  margin-right: calc(-2 * var(--account-main-p-b));
  margin-top: calc(-1 * var(--account-main-p-t));
  margin-bottom: calc(-1 * var(--account-main-p-b));
  padding-top: var(--account-main-p-t);
  padding-right: calc(2 * var(--account-main-p-b));
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
@media (max-width: 1899px) {
  .l-account-main__course-list {
    margin-right: calc(-2 * var(--account-main-p-b) - 11rem);
    padding-right: calc(2 * var(--account-main-p-b) + 11rem);
  }
}
@media (max-width: 1199px) {
  .l-account-main__course-list {
    max-height: 9999rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}
.l-account-main__course-list:after {
  background: linear-gradient(180deg, rgba(248, 245, 240, 0) 0%, #F8F5F0 100%);
  width: 100%;
  height: 10rem;
  margin-top: -2rem;
  content: "";
  display: block;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
@media (max-width: 1199px) {
  .l-account-main__course-list:after {
    display: none;
  }
}
.l-account-main__course-list-card + .l-account-main__course-list-card {
  margin-top: 1rem;
}
@media (max-width: 1199px) {
  .l-account-main__course-empty {
    padding-top: 13rem;
  }
}
.l-account-main__course-empty-title {
  margin: 0 0 2.4rem;
  text-align: center;
}
@media (max-width: 991px) {
  .l-account-main__course-empty-title {
    font-size: 2.4rem;
  }
}
.l-account-main__course-empty-text {
  margin: 0 0 5.6rem;
  font-weight: 500;
  font-size: var(--fs-6);
  color: rgba(44, 57, 45, 0.7);
  text-align: center;
}
@media (max-width: 991px) {
  .l-account-main__course-empty-text {
    margin-bottom: 2.6rem;
    font-size: 1.6rem;
  }
}
.l-account-main__course-empty-picture {
  max-width: 46.8rem;
  margin: 0 auto 5.6rem;
  pointer-events: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.l-account-main__course-empty-picture img {
  width: 100%;
  height: auto;
  display: block;
}
@media (max-width: 991px) {
  .l-account-main__course-empty-btn {
    --btn-padding-y: 1.4rem;
    min-height: 4.8rem;
  }
}
.l-account-main__footer-btn {
  margin-top: 5.6rem;
}

.page-account--theme-dark .l-account-main__col-aside {
  padding-top: var(--account-main-p-t);
  color: #F8F5F0;
}
.page-account--theme-dark .l-account-main__col-aside:before {
  background: #2C392D;
}
@media (max-width: 1899px) {
  .page-account--theme-dark .l-account-main__col-aside picture img {
    max-height: calc(100vh - 17rem);
  }
}
.page-account--theme-dark .l-account-main__hero-center {
  max-width: 78.5rem;
  margin-top: calc(-1 * var(--account-main-p-t));
  margin-right: 9rem;
  margin-left: auto;
  position: relative;
  z-index: -1;
}
@media (max-width: 1899px) {
  .page-account--theme-dark .l-account-main__hero-center {
    margin-right: auto;
  }
}
@media (max-width: 1899px) {
  .page-account--theme-dark .l-account-main__col-user {
    max-width: 40.5%;
    margin-right: 11rem;
    margin-left: 14rem;
    -ms-flex-preferred-size: 40.5%;
    flex-basis: 40.5%;
  }
}
@media (max-width: 1420px) {
  .page-account--theme-dark .l-account-main__col-user {
    margin-right: 4rem;
    margin-left: 7rem;
  }
}
@media (max-width: 1199px) {
  .page-account--theme-dark .l-account-main__col-user {
    max-width: 100%;
    margin: 0;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 991px) {
  .page-account--theme-dark .l-account-main__col-user {
    padding-top: 11.4rem;
  }
}

@media (min-width: 576px) {
  .d-xs-block {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .d-sm-block {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .d-md-block {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .d-lg-block {
    display: none !important;
  }
}
@media (min-width: 1900px) {
  .d-xll-block {
    display: none !important;
  }
}
@media (max-width: 1899px) {
  .d-xll-none {
    display: none !important;
  }
}
@media (max-width: 1199px) {
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .d-sm-none {
    display: none !important;
  }
}
@media (max-width: 576px) {
  .d-xs-none {
    display: none !important;
  }
}
/*# sourceMappingURL=account-login.css.map */
